{% extends 'front.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}


{# <div class="underNav"></div>     #}
<div class="splita p-1 p-md-3"></div>
<!--  section de bienvenue -->
<section class="welcome ">
<div class="container-fluid">
    <div class="boxSM row">
    </div>
</div>

<div class="container-fluid">
    <div class="boxMD row">
    </div>
</div>

<div class="container-fluid">
    <div class="boxLG row">
    </div>
</div>

<div class="container-fluid">
    <div class="boxXL row">
    </div>
</div>
<div></div>
<div></div>
<div></div>
            
{# *************************************************************************************** #}
<div class="container-fluid">
    <div class="boxMD center row">
        <h3>Le meilleur pour nos compagnons</h3>
        <p>Plus de 8000 produits à votre disposition !</p>
        <img class="cent" src="{{ asset('build/img/div/animaux2.png') }}" alt="">
        <form class="form2" action="site-search" method="get">
                
                    <label for="site-search"></label>
                    <div>
                        <input type="search" id="site-search" name="site-search" placeholder="Votre mot clé">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-ally5">Rechercher</button>
                    </div>
                
        </form>
    </div>
</div>

{# *************************************************************************************** #}
<div class="container-fluid">
    <div class="boxXL row">
        {# {% include 'partials/card.html.twig' %}
        {% include 'partials/card.html.twig' %}
        {% include 'partials/card.html.twig' %}
        {% include 'partials/card.html.twig' %} #}
        
    </div>
</div>

{# Space   *************************************************************************************** #}
<div class="container-fluid bg-success p-2">
    <div class="boxXL row">
       <div class="spaceleft bg-prim3">
            <div class="spacelight bg-light">
                <h5 class="text-ally5">GRAND JEU CONCOURS</h5>
                <p>Envoyez votre chien sur Mars ! * </p>
                <p> Un partenariat exceptionnel avec :</p>
                <img class="spacex" src="{{ asset('build/img/div/spacex.png') }}" alt="">
                <img class="mars" src="{{ asset('build/img/div/mars.png') }}" alt="">
                <p class="tiny">* Ceci est un aller sans retour...</p>
                <p>plus d informations <br>
                    en vous inscrivant <br>
                    à notre lettre de nouvelles</p>
            </div>
        </div> 
        <div class="spaceright bg-prim3">
            <!-- <img src="img/div/spacedog.jpg" alt=""> -->
            <form class="form2" action="site-search" method="get">
                <label for="site-search"></label>
                <div>
                    <input type="search" id="site-search" name="site-search" placeholder="Votre email">
                </div>
                <div>
                    <button type="submit" class="btn btn-ally5">Inscription</button>
                </div>
            </form>
        </div>

    </div>
</div>

{# *************************************************************************************** #}


{# SHOP  *************************************************************************************** #}
<div class="container-fluid bg-success p-2">
    <div class="boxXL row">
        <img class="col-6 col-md-3" src="{{ asset('build/img/div/phonedog2.jpg') }}" alt="">
        <div class="col-6 col-md-3 text-center bg-light p-auto" >
            <H4 class="text-ally5" >Ouverture</H4>
            <p>Du lundi au Samedi : 9h - 19 h</p>
            <h5>Hot Line</h5>
            <H4 class="text-ally5">0900020002</H4>
        </div>
        <img class="col-12 col-md-6" src="{{ asset('build/img/div/magasin.jpg') }}" alt="">
        {# <div class="col-12 col-md-6">
            <div class="shopImg">
                <img src="{{ asset('build/img/div/magasin.jpg') }}" alt="">
            </div>
        </div> #}
    </div>
</div>

{# *************************************************************************************** #}
    {% block bottom %}
			{% include "partials/bottom.html.twig" %}
	{% endblock %}


{# <footer>
     {% block footer %}
			{% include "partials/footer.html.twig" %}
	{% endblock %}

   
</footer> #}


   

{% endblock %}
