{% extends 'front.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% block header %}
			{% include "partials/menu.html.twig" %}
	{% endblock %}

<section>
    <div class="backProd">
        <div class="trunkProd">
            <p class="arianne">Categorie / Sous-catégorie / Sous-sous-categorie</p>
        </div>
    </div>
</section>

<section>
    <div class="backProd">
        <div class="trunkProd">
            <!-- // fulldisplay : prod + plus + asso -->
            <div class="fullDisplay"> 
                <div class="displayProd">
                    <div class="displayImg">
                        <div class="firstImg">
                            <img src="{{ asset('build/img/div/default.jpg') }}" alt="">
                            {# <img src="{{ product.picture }}" alt=""> #}
                        </div>
                        <div class="trioImg">
                            <img src="img/div/img600_600.jpg" alt="">
                            <img src="img/div/img600_600.jpg" alt="">
                            <img src="img/div/img600_600.jpg" alt="">
                        </div>
                    </div>
                    <div class="displayInfo py-2 text-center">
                        <div class="titlecrd">
                            <h4>Mon produit</h4>
                        </div>
                        <div class="pricecrd">
                            <p>100,00 € <span> - 80,00 €</span></p>
                        </div>
                                        <div class="paws">                    
                    {% if product.note is null %}
                    <img src="{{ asset('build/img/paw/1.png') }}" alt="{{ 1 }}">
                    {% else %}
                        {% set note = product.note|round(0, 'ceil')  %}
                        {% set urlImage = 'build/img/paw/'~note~'.png' %}
                        <img src="{{ asset(urlImage) }}" alt="{{ product.note }}">
                    {% endif %}

                                   

                </div>
                        <p>Marque</p>
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success">-</button>
                            <button type="button" class="btn btn-outline-success">0</button>
                            <button type="button" class="btn btn-success">+</button>
                        </div>
                        <div href="{{ path('app_market_add', {'id': product.id} ) }}" class="btn btn-ally2">Ajouter</div>
                        <div class="displayPay">
                            <div class="paySup">
                                <img src="img/div/paypal.png" alt="">
                                <img src="img/div/visa.png" alt="">
                            </div>
                            <div class="payInf">
                                <img src="img/div/colissimo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="displayExtra">
                    <div class="displayPlus">
                        +
                    </div>
                    <div class="assoDisplay bg-prim2 p-2 text-center">
                        {# <h5>5% de reduction</h5>
                        <p>sur ce produit associé</p> #}
                        <div class="mycrd">
                            <div class="imgcrd">
                                <img src="{{ asset('build/img/div/default.jpg') }}" alt="">
                                <div class="badge bg-ally2"></div>
                            </div>
                            <div class="titlecrd">
                                <h4>Mon produit</h4>
                            </div>
                            <div class="pricecrd">
                                <p>100,00 € <span> - 80,00 €</span></p>
                                
                            </div>
                                            <div class="paws">                    
                    {% if product.note is null %}
                    <img src="{{ asset('build/img/paw/1.png') }}" alt="{{ 1 }}">
                    {% else %}
                        {% set note = product.note|round(0, 'ceil')  %}
                        {% set urlImage = 'build/img/paw/'~note~'.png' %}
                        <img src="{{ asset(urlImage) }}" alt="{{ product.note }}">
                    {% endif %}

                                   

                </div>
                        </div>
                        {# <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success">-</button>
                            <button type="button" class="btn btn-outline-success">0</button>
                            <button type="button" class="btn btn-success">+</button>
                        </div> #}


                        <div class="btn btn-ally2">Ajouter</div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<section>
    <div class="backProd">
        <div class="trunkProd">

        </div>
    </div>
</section>


<footer>
     {% block footer %}
			{% include "partials/footer.html.twig" %}
	{% endblock %}

   
</footer>   

{% endblock %}

