{% extends 'front.html.twig' %}

{# {% form_theme from 'bootstrap_5_layout.html.twig' %} #}

{% block title %}Register{% endblock %}

{% block body %}
    {% block header %}
			{% include "partials/menu.html.twig" %}
	{% endblock %}
    <div class="container-fluid">
        <div class="boxSM row">
            <h1>Créez votre compte</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Enregister</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
