<div class="p-3 text-center">
<h2>Administration</h2>

<hr>
<h4>Commandes</h4>
<a href="{{ path('app_admin_basket_index') }}">Liste</a><br>
<hr>

<hr>
<h4>Produits</h4>
<a href="{{ path('app_admin_product_index') }}">Liste</a><br>
<a href="{{ path('app_admin_product_new') }}">Créer</a><hr>

<hr>
<h4>Sous-categories</h4>
<a href="{{ path('app_admin_category_index') }}">Liste</a><br>
<a href="{{ path('app_admin_category_new') }}">Créer</a><hr>

<hr>
<h4>Marques</h4>
<a href="{{ path('app_admin_brand_index') }}">Liste </a><br>
<a href="{{ path('app_admin_brand_new') }}">Créer</a><hr>

<hr>
<h4>Clients</h4>
<a href="{{ path('app_admin_user_index') }}">Liste </a><br>



</div>




