<div class="fquality">
    <div class="fqbody">
        <div class="fqcell">
            <div class="fqiko">
                <div class="btn btn-ally2 m-2">
                    <img src="{{ asset('build/img/sati/card.png') }}" alt="">
                </div>
                <div class="qtest">
                    +
                </div>
                <div class="btn btn-ally2 m-2">
                    <img src="{{ asset('build/img/sati/protected.png') }}" alt="">
                </div>
                
            </div>
            <div class="qtest">Paiement securisé</div>
        </div>
        <div class="fqcell">
            <div class="fqiko">
                <div class="btn btn-ally2 m-2">
                    <img src="{{ asset('build/img/sati/chronometre.png') }}" alt="">
                </div>
                <div class="qtest">
                    +
                </div>
                <div class="btn btn-ally2 m-2">
                    
                    <img src="{{ asset('build/img/sati/shipped.png') }}" alt="">
                </div>
                
            </div>
            <div class="qtest">Expedition en 24h</div>
        </div>
        <div class="fqcell">
            <div class="fqiko">
                <div class="btn btn-ally2 m-2">
                    <img src="{{ asset('build/img/sati/return.png') }}" alt="">
                </div>
                <div class="qtest">
                    +
                </div>
                <div class="btn btn-ally2 m-2">
                    
                    <img src="{{ asset('build/img/sati/handshake.png') }}" alt="">
                </div>
                
            </div>
            <div class="qtest">Retour sous 30 jours</div>
        </div>
    </div>
</div>

 <div class="foothead">
        <div class="fmono fimg">
            <img class="fhdogs" src="{{ asset('build/img/div/animaux3.png') }}" alt="">
        </div>
        
        <div class="fhbody">
            <div class="fhbcontent row text-center">
                <h5 class="col-12 text-ally2">Qualité / Confiance / Expérience</h5>
                <p class="col-12 col-md-6">La Nîmes’ Alerie est un magasin connu et reconnu pour la qualité de ses produits et de son service client. </p>
                <p class="col-12 col-md-6"> La Nîmalerie, c’est aussi un réseau régionnal de partenaires et de clients fidèles sans qui nous n’existerions pas.</p>
                <p class="col-12 col-md-6">Fort de son expérience de terrain, depuis plus de 23ans, votre magasin nîmois préféré s’ouvre sur la toile.</p>
                <p class="col-12 col-md-6">La Nîmalerie c’est une equipe de passionnés au service de nos compagnons à poils, à plumes et à écailles.</p>
            </div>
        </div>
    </div>