        <div class="col-6 col-md-3 g-1 g-md-5">
        
            <div class="mycrd">
                <div class="imgcrd">
                    <a href="{{ path('app_home_show', {'id': product.id}) }}" ><img  src="{{ asset('build/img/div/default.jpg') }}" alt="Image du produit"></a>
                    <div class="badge bg-ally1">NEW</div>
                </div>
                <div class="titlecrd">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="pricecrd">
                    <p>{{ product.price }}<span>  {{ product.price }}</span></p>
                </div>
                <div class="paws">                    
                    {% if product.note is null %}
                    <img src="{{ asset('build/img/paw/1.png') }}" alt="{{ 1 }}">
                    {% else %}
                        {% set note = product.note|round(0, 'ceil')  %}
                        {% set urlImage = 'build/img/paw/'~note~'.png' %}
                        <img src="{{ asset(urlImage) }}" alt="{{ product.note }}">
                    {% endif %}

                                   

                </div>
                <a href="{{ path('app_market_add', {'id': product.id}) }}" class="btn btn-success btn-sm">ADD</a>
                
                

                
                
            </div>
           
        </div>