<div class="container-fluid bg-success">
    <div class="boxXL row bg-light">
        <div class="col-12 col-md-6" >
            <h4>5% de remise</h4>
            <p>Sur votre prochaine commande, en vous inscivant à notre lettre de nouvelles.</p>
                <form class="form2" action="site-search" method="get">
                    <label for="site-search"></label>
                    <div>
                        <input type="search" id="site-search" name="site-search" placeholder="Votre email">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-ally5">Inscription</button>
                    </div>
                </form>
        </div>
        <div class="col-6 col-md-3">
            <h5>Informations</h5>
            <li><a href="">CGU</a></li>
            <li><a href="">CGV</a></li>
            <li><a href="">Mentions legales</a></li>
            <li><a href="">Politique et confidentialité</a></li>
        </div>
        <div class="col-6 col-md-3">
            <h5>Partenaires</h5>
            <li><a href="">Veterinaires</a></li>
            <li><a href="">Toiletteurs</a></li>
            <li><a href="">Educateurs cannins</a></li>
            <li><a href="">Club d'agility</a></li>
        </div>
    </div>
    <div class="footbotom bg-prim3">
        <div class="ftbbrand">
            <h5 text-ally5>La Nîmes'Alerie &copy; 2022</h5>
        </div>
        <div class="ftbsocial">
            <img src="{{ asset('build/img/soc/facebook.png') }}" alt="">
            <img src="{{ asset('build/img/soc/instagram.png') }}" alt="">
        </div>
    </div>
</div>
