<header>
    
<!--  Navigation -->
<nav class="">
    <div class="navSup bg-success">
        <div class="brand">
            <a href="{{ path('app_home') }}" class="mx-2"><h1>La Nîmes'Alerie</h1></a>
        </div>
        <div class="account">
            
            <a href="{{ path('app_market') }}" class="btn btn-ally5 btn-sm mx-2"><img src="{{ asset('build/img/ikoCat/panier.png') }}" alt="utilisateur"><span class="badge bg-success">{{ functionTwigGetQantity(app.session) }}</span></a> 
            {#  #}
            <a href="{{ path('app_login') }}" class="btn btn-ally5 btn-sm mx-2"><img src="{{ asset('build/img/ikoCat/personne.png') }}" alt="utilisateur"></a>
            
            
        </div>
        
    </div>
    <div class="navInf bg-light">
        <div class="navMenu">
            {% for animal in functionTwigGetAnimals() %}
                <div class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offmenu{{ animal.id }}" aria-controls="offmenu">

                    {% if animal.name == "Chiens" %}
                    <img src="{{ asset('build/img/ikocat/chiens.png') }}" alt="{{animal.name}}">
                    {% elseif animal.name == "Chats" %}
                    <img src="{{ asset('build/img/ikocat/chats.png') }}" alt="{{animal.name}}">
                    {% elseif animal.name == "Rongeurs" %}
                    <img src="{{ asset('build/img/ikocat/rongeurs.png') }}" alt="{{animal.name}}">
                    {% elseif animal.name == "Oiseaux" %}
                    <img src="{{ asset('build/img/ikocat/oiseaux.png') }}" alt="{{animal.name}}">
                    {% elseif animal.name == "Poissons" %}
                    <img src="{{ asset('build/img/ikocat/poissons.png') }}" alt="{{animal.name}}">
                    {% endif %}

                </div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offmenu{{animal.id}}" aria-labelledby="offcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">{{animal.name}}</h5>
                        {# <div class="btn-success">{{ asset('build/img/ikoCat/{{animal.name}}.png') }}</div> #}
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>


                <div class="offcanvas-body">
                    <a href="{{ path('app_front_product_animal', {'id': animal.id}) }}">Voir tout le rayon </a><br><hr>
                    <ul>
                        <p> Voir par sous categories : </p>
                        {% for category in functionTwigGetCategories() %}
                            {% if category.animal == animal %}
                                <li><a href="{{ path('app_front_product_category', {'id': category.id}) }}">{{category.name}}</a></li>
                            {% endif %}
                           
                        {% endfor %}
                    </ul>
                </div>




                </div>
            {% endfor %}

        </div>  
          
   </div>

</nav>
<!--  fin Navigation -->        
</header>