{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="boxSM row">
        <h1>Edit Product</h1>

    {{ include('admin_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_product_index') }}">back to list</a>

    {{ include('admin_product/_delete_form.html.twig') }}

    </div>
    </div>

{% endblock %}
