{% extends 'back.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
        {# <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(products) }}
        </div> #}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
             {#   <th>{{ knp_pagination_sortable(
                        products, 
                        Nom,
                        'product.name',
                )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        products, 
                        Prix,
                        'product.price',
                )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        products, 
                        Description,
                        'product.description',
                )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        products, 
                        Catégorie,
                        'product.category',
                )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        products, 
                        Image,
                        'product.image',
                )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        products, 
                        En promo,
                        'product.isPromo',
                )|raw }}</th>
                <th>actions</th> #}




                {# <th>{{ knp_pagination_sortable(
                        produits,
                        'Nom',
                        'produit.libelle'
                    )|raw }}
                    {{ form_widget(filters.libelle) }}</th>
                <th>{{ knp_pagination_sortable(
                        produits,
                        'Categorie',
                        'categorie.nom'
                    )|raw }}
                    {{ form_widget(filters.categorie) }}</th>
                <th>{{ knp_pagination_sortable(
                        produits,
                        'Date entrée',
                        'produit.dateEntree'
                    )|raw }}
                    {{ form_widget(filters.dateEntree) }}</th>
                <th>{{ knp_pagination_sortable(
                        produits,
                        'Prix Ht',
                        'produit.prixHt'
                    )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        produits,
                        'Quantite en stock',
                        'produit.quantiteStock'
                    )|raw }}</th>
                <th>{{ knp_pagination_sortable(
                        produits,
                        'Est actif',
                        'produit.estActif'
                    )|raw }}</th>
                <th>
                    <div>
                        <button type="submit" class="filter-action">
                            <i class="fas fa-search"></i>
                        </button>
                        <a class="filter-action" href="{{ path('app_admin_produit_index') }}">
                            <i class="fas fa-refresh"></i></a>
                    </div>
                </th> #}
                
                <th>Name</th>
                <th>Marque</th>
                
                <th>Rayon</th>
                <th>Date d'ajout</th>
                <th>Tva</th>
                <th>Promotion</th>
                <th>Price</th>
                <th>Note</th>
                <th>action</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                
                <td>{{ product.name }}</td>
                <td>{{ product.brand.name }}</td>
                <td>{{ product.animal.name }}</td>
                <td>{{ product.entryDate ? product.entryDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.tva }}</td>
                <td>{{ product.isPromo }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.note }}</td>
                <td>
                    <a href="{{ path('app_admin_product_show', {'id': product.id}) }}">show</a>
                    
                </td>
                <td>
                   
                    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(products) }}
        </div>

    <a href="{{ path('app_admin_product_new') }}">Create new</a>
{% endblock %}
