{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}New Product{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="boxSM row">
        <h1 class="text-success">Créer un nouveau produit</h1>
    
    {{ include('admin_product/_form.html.twig') }}

    <a href="{{ path('app_admin_product_index') }}">back to list</a>
    </div>
</div>
    
{% endblock %}
