{% extends 'back.html.twig' %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}
{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ product.reference }}</td>
            </tr>
            <tr>
                <th>EntryDate</th>
                <td>{{ product.entryDate ? product.entryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ product.tva }}</td>
            </tr>
            <tr>
                <th>IsPromo</th>
                <td>{{ product.isPromo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ product.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_index') }}">back to list</a>

    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('admin_product/_delete_form.html.twig') }}
{% endblock %}
