{% extends 'front.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon panier</h1>

    {% if items | length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('app_market_remove', {'id': item.product.id}) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                            {# <a href="{{ path('cart_remove', {id: product.id}) }}" class="btn btn-danger">Supprimer</a> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total : </td>
                    <td>{{ total }}</td>
                    <td><a href="{{ path('app_market_validation') }}" class="btn btn-success">Valider</a> </td>
                </tr>
            </tfoot>    
        </table>
        
    {% else %}
        <p>Votre panier est vide</p>
    {% endif %}

</div>
{% endblock %}
