{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="boxSM row">
        <h1>Edit Category</h1>

    {{ include('admin_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_category_index') }}">back to list</a>

    {{ include('admin_category/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}
