{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="boxSM row">
        <h1>Create new Category</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}">back to list</a>
    </div>
</div>

{% endblock %}
