{% extends 'back.html.twig' %}

{% block title %}Basket index{% endblock %}

{% block body %}
    <h1>Basket index</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                
                <th>Date de paiement </th>
                <th>Montant </th>
                <th>Moyen de paeiment </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            {% if basket.status == 300 %}
                <tr>
                    <td>{{ basket.id }}</td>
                    <td>{{ basket.user.username }}</td>
                    
                    <td>{{ basket.datePay ? basket.datePay|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{% set prixTotal = 0 %}
                        {% for line in basket.bLine %}
                            {% set prixTotal = prixTotal + ((line.price + (line.price * 1.2 / 100 )) * line.quantity ) %}
                        {% endfor %}
                        {{ prixTotal | round(2) }}€</td>
                    <td>{{ basket.payment.type }}</td>    
                    <td>
                        <a href="{{ path('app_admin_basket_show', {'id': basket.id}) }}">show</a>
                        <a href="{{ path('app_admin_basket_edit', {'id': basket.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}    
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_basket_new') }}">Create new</a>
{% endblock %}
