{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}New Basket{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="boxSM row">
        <h1>Create new Basket</h1>

    {{ include('admin_basket/_form.html.twig') }}

    <a href="{{ path('app_admin_basket_index') }}">back to list</a>
    </div>
</div>

{% endblock %}
