{% extends 'back.html.twig' %}

{% block title %}Basket{% endblock %}

{% block body %}
    <h1>Facture</h1>
    <div class="btn btn-success">Sauvegarder la Facture en PDF</div>
    <hr>
    <div>
    <p>Numéro de commande : {{ basket.id }}</p>
    <p>Date de paiement : {{ basket.datePay|date('Y-m-d') }}</p>
    <p>Règlement : {{ basket.payment.type }}</p>
    <p>{{ basket.user.firstName }} - {{ basket.user.lastName }}</p>
    <p>{{ basket.adress.line1}}</p>
    <p>{{ basket.adress.zip }} - {{ basket.adress.city }}</p>
    </div>

<hr>
    <div>
    <h3>Récapitulatif du panier</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Quantité</th>
                <th>Total</th>


            </tr>
        </thead>
        <tbody>
            {% for line in basket.bLine %}
                <tr>
                    <td>name</td>
                    <td>{{ line.price }}</td>
                    <td>{{ line.price * 1.2 }}</td>
                    <td>{{ line.quantity }}</td> 
                    <td>{{ line.quantity * line.price * 1.2 }}</td>                 
                </tr>
            {% endfor %}
                <tr>
                    {% set montant = 0 %}
                        {% for line in basket.bLine %}
                            {% set montant = montant + (line.price + ((line.price * 1.2) / 100)) * line.quantity %}
                        {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h3>Montant Total : </h3></td> 
                    <td><h3>{{ montant | round(2) }}€</h3></td>

                </tr>

        </tbody>
    </table>

    <a href="{{ path('app_admin_basket_index') }}">back to list</a>

    <a href="{{ path('app_admin_basket_edit', {'id': basket.id}) }}">edit</a>

    {{ include('admin_basket/_delete_form.html.twig') }}
{% endblock %}
