{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}New Brand{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="boxSM row">
        <h1>Create new Brand</h1>

    {{ include('admin_brand/_form.html.twig') }}

    <a href="{{ path('app_admin_brand_index') }}">back to list</a>
    </div>
</div>

{% endblock %}
