.mycrd {
    min-width:  150px;
    max-width: 300px;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 2px lightgrey;
    background-color: white;
}


.imgcrd {
    width: 100%;
    position: relative;
    
    img{
        width: 100%;
    }
    
    .badge {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 0.7em;
            font-weight: bold;
            color: white;
            // transform: rotate(22deg);
            // transform-origin: scenter;
        }
}

.titlecrd h4{
        font-size: 1.5em;
        font-weight: bold;
    }

.pricecrd p {
        text-decoration: line-through;
        color: grey;

        span {
            display: inline-block;
            font-size: 1.2em;
            font-weight: bold;
            color: $ally1;
            text-decoration-style:none;
            text-decoration-line: none;
        }
    }


.paws {
        margin: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            width: 80px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }

.mycrd .btn{
        font-size: 1rem;
        font-weight: bold;
        width: 100px;
    }

