.yellowstar{
    color: #ffc500;
}

.emptystar{
    color: #ddd;
}


.form1 {
    padding: 5px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: $prim3;
    border-radius: 5px;

    input {
        height: 38px;
        width: 400px;
        padding-left: 10px;
        margin-right: 5px;
        border-radius: 4px;

    }
}

.form2 {
    padding: 5px;
    width: 98%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: $prim3;
    border-radius: 5px;

    input {
        height: 38px;
        width: auto;
        padding-left: 10px;
        margin-right: 5px;
        border-radius: 4px;

    }
}

@media screen and (max-width: 992px) {
    .form1 .form2 {
        width: 98%;
            
        input {
            width: 100%;
        }
    }
}