
@import "~bootstrap/scss/functions";// le tilde signifie qu'on va chercher dans node module
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$prim1: #198754;
$prim2: #d1e7dc;
$prim3: #0f5132;
$ally1: #19871d;
$ally2: #198387;
$ally3: #541987;
$ally4: #875419;
$ally5: #87194c;

$custom-theme-colors:map-merge($theme-colors, (
	"prim1":$prim1,
    "prim2":$prim2,
    "prim3":$prim3,
    "ally1":$ally1,
    "ally2":$ally2,
    "ally3":$ally3,
    "ally4":$ally4,
    "ally5":$ally5
    ));
    
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
// $utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
// $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
// $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// @import "../../node_modules/bootstrap/scss/bootstrap";

@import "~bootstrap/scss/bootstrap";// le tilde signifie qu'on va chercher dans node module