.fmono {
    width: 992px;
    margin-left: auto;
    margin-right: auto;

}

.fimg {
    img {
        width: 100%;
    }
}


// foot head
.fhbody {
    background-color: $prim3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.fhbcontent {
    background-color: $prim2;
    width: 992px;
    padding: 30px;
    border-radius: 5px;
}


// foot quality
.fquality {
    display: flex;
    justify-content: space-evenly;
}

.fqbody {
    display: flex;
    justify-content: space-around;
    width: 992px;
    margin: 10px;
}


.fqcell {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $prim3;
    //padding: 5px;
    margin: 5px;
    border-radius: 5px;

}

.qtest {
    text-align: center;
    font-family: 'Roboto Condensed' sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

.fqiko {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.fqiko img {
    width: 40px;
    height: 40px;
}

.footbody {
    padding: 10px;
}

.footbotom {
    display: flex;
    justify-content: space-between;
}

.ftbbrand {
    margin: 10px;
}

.ftbsocial img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

@media screen and (max-width: 992px) {
    .fqbody {
        flex-direction: column;
        
    }
    .fqcell {
        margin-left: auto;
        margin-right: auto;
    }

    .ftbsocial img {
        width: 20px;
        height: 20px;

    }
    .fmono {
        width: 100%;
    }

}

