.backProd {
    display: flex;
    justify-content: center;
}

.trunkProd {
    width: 992px;
}

.arianne {
    text-align: start;
    font-family: 'Roboto Condensed' sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: $ally2;
}
// debut du display produit
.fullDisplay {
    display: flex;
    justify-content: space-between;
}

.displayProd {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.displayImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px lightgrey;
}
.firstImg {
    margin-left: auto;
    margin-right: auto;
}
.firstImg img {
    width: 400px;
    margin: 2px;
    border-radius: 7px;
}

.trioImg{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.trioImg img {
    width: 32%;
    border-radius: 4px;
}

.displayInfo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.displayExtra {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.displayPlus {
    text-align: center;
    font-family: 'Roboto Condensed' sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: $ally2;
    margin-top: 170px;
    margin-left: 5px;
    margin-right: 5px;
}

.assoDisplay {
    width: 250px;
    border-radius: 5px;
}

.displayPay {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.paySup { 
    display: flex;
    justify-content: space-around;
}
.paySup img {
    width: 40%;
}
.payInf img{
    width: 80%;
}



@media screen and (max-width: 992px) {
    .trunkProd {
        width: 100%;
    }
    .fullDisplay {
        flex-direction: column;
    }
    .arianne {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .trunkProd {
        width: 100%;
    }
    .displayProd {
        width: 100%;
        flex-direction: column;
    }
    .firstImg img {
        width: 96%;
        margin: 2px;
        border-radius: 7px;
    }
    
    .trioImg{
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .trioImg img {
        width: 32%;
        border-radius: 4px;
    }
    // .displayPlus {
    //     display: none;
    // }
    // .assoDisplay{
    //     display: none;
    // }



}