.space {
    display: flex;
    //flex-wrap: wrap;
    justify-content: center;
}

.spaceleft, .spaceright {
    box-sizing: border-box;
    width: 496px;
    height: 420Px;
    display: flex;
    justify-content: end;
    padding: 15px;
}

.spaceleft {
    position: relative;
    text-align: end;
}

.spacelight {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}

.spacex {
    width: 70%;
}

.mars {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.spaceright {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/div/spacedog.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .space {
        flex-direction: column;
    }
    .spaceleft, .spaceright {
        width: 100%;
    }
    .spacelight {
        width: 70%;

    }
    
}

.containerShop {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}


.shop {
    display: flex;
    //flex-wrap: wrap;
    justify-content: center;
}

.shopleft, .shopright {
    box-sizing: border-box;
    width: 496px;
    height: 420Px;
    display: flex;
    justify-content: end;
    padding: 15px;
}

.shopleft {
    // position: relative;
    // text-align: end;
    background-image: url("../img/div/plan.png");
    background-size: cover;
    background-position: center;
}

.shoplight {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}



.shopright {
    // display: flex;
    // flex-direction: column;
    // text-align: center;
    background-image: url("../img/div/magasin.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .shop {
        flex-direction: column;
    }
    .shopleft, .shopright {
        width: 100%;
    }
    .shoplight {
        width: 70%;
    }
}
