// premier étage du menu
nav {
    padding-bottom: 20px;
}

.navSup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    img {
        width: 30px;
    }
}

.brand {
    margin-left: 20px;

    h1 {
        display: inline-block;
        font-family: 'Nerko One', cursive;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        margin: 0;
    }
    
    h1:hover {
        color: #198387;
    }

}

.account {
    display: flex;
    margin-right: 20px;
}

.navInf {
    width: 100%;
    padding: 10px;

    img {
        width: 40px;
    }
}

.navMenu {
    width: 992px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background-color: #87194c;
}

.underNav {
    height: 124px;
}

@media screen and (max-width: 576px)  {

    .navSup {

        img {
            width: 20px;
        }
    }

    .brand {
        margin-left: 5px;
    
        h1 {
            font-size: 1.7rem;
            
        }
        
    }

    .account {
        display: flex;
        margin-right: 5px;
    }

    .navInf {

        img {
            width: 30px;
        }
    }

    .navMenu {
        width: 100%;
    }

    .underNav {
        height: 124px;
    }


}
