.pagination {

    .current {
      color: black;
      text-decoration: none;
      padding: 0.2rem 0.8rem;
      background-color: $green;
    }
  
    .page, .first, .last, .previous, .next {
      > a {
        color: black;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        border: 1px solid darkgrey;
        text-decoration: none;
        padding: 0.2rem 0.8rem;
        background-color: #EBEDEC;
  
        &:hover {
          background-color: #87194c;
          border: 1px solid black;
        }
      }
    }
  }