.cent {
    width: 100%;
}

.center {
    text-align: center;
}

.boxSM {
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
}

.boxMD {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.boxLG {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.boxXL {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}








