{% extends 'base.html.twig' %}

{% block title %}Hello FrontProductController!{% endblock %}

{% block body %}
{% block header %}
			{% include "partials/menu.html.twig" %}
	{% endblock %}
    <div class="container-fluid">
        <div class="boxXL center row">
            <h1>Tout le rayon 
            {{ animal.name }}
            </h1>
                <div class="navigation d-flex justify-content-center mt-2">
                    {{ knp_pagination_render(products) }}
                </div>
            {% for product in products %}
            {% block card %}
                {% include "partials/card.html.twig" %}
            {% endblock %}
        {% endfor %}
            <div class="navigation d-flex justify-content-center mt-2">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </div>
{% endblock %}
