<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </head>
    <body>
    <div class="row">
    <div class="col-2 bg-success text-light">
        {% block adminMenu %}
			{% include "partials/adminMenu.html.twig" %}
	    {% endblock %}

    </div>
    <div class="col-10 bg-light">
    {% block body %}{% endblock %}
        
    </div>
</div>
        
    </body>
</html>






