<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </head>
        {% block header %}
			{% include "partials/menu.html.twig" %}
	    {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer %}
			{% include "partials/footer.html.twig" %}
	    {% endblock %}
    </footer>
   

</html>
