{% extends 'base.html.twig' %}

{% block title %}StatsController!{% endblock %}

{% block body %}
<p>Nombre de visites : {{ nbVisits }}</p>
<p>Nombre de paniers : {{ nbBaskets }}</p>
<p>Nombre de commandes : {{ nbOrders }}</p>
{# <p>total des ventes : {{ total }}</p> #}
{# <p>Montant total des ventes : {{ OneOrder }}</p> #}
<p>Conversion de visites en paniers : {{ convVisitToBasket }} %</p>
<p>Conversion de paniers en commandes : {{ convBasketToOrder }} %</p>
<p>Paniers abandonnés : {{ basketscanceled }} %</p>
<p>somme totale des ventes : {{ totalSum }}</p>
<p>Panier moyen : {{ averageOrder }}</p>
<p>nouvel utilisateur : {{ newUsers }}</p>
<p></p>


{# <p>Nombre de panier unique : {{ oneOrder }}</p> #}

{# {% for best in bestSellers %}
    <p>{{ best.name }}</p>
{% endfor %} #}



<p>
</p>
<p></p>
<p></p>
<p></p>
<p></p>
{% endblock %}