{% extends 'base.html.twig' %}

{% block title %}Hello FrontAnimalController!{% endblock %}

{% block body %}
    {% block header %}
			{% include "partials/menu.html.twig" %}
	{% endblock %}
    <div class="container-fluid">
        <div class="boxXL center row">
            <h1>Tout le rayon {{ animal.name }}</h1>
            {% for product in products %}
            {% block card %}
                {% include "partials/card.html.twig" %}
            {% endblock %}
        {% endfor %}
        </div>
    </div>



{% endblock %}
